.userinfo {
	text-align:center; 
	font-size:8pt;
	background-color:#eeeeee;
	margin: 2px 2px 2px 2px;
}

.list_edit {
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

.adr_summary {
	background-color:#cceeee;
	border: 1px dashed #cccccc;
	padding:4px;
}
.log_summary {
	/*background-color:#cc8888;*/
	border:1px dashed #ffffff;
	padding:4px;
	font-size:7pt;
}
.log_summary td {
	background-color:#eeeeee;
	/*border:1px dashed #cccccc;*/
	padding:0px;
	font-size:7pt;
}

.link_logbook_section {
	background-color:#eeeeff;
}

.tm_debugmessage {
	font-size:9pt;
	color:#990000;
	background-color:#ffff99;
}

/*
 .image_fader{ 
 	position:relative; 
 	filter:alpha(opacity=40); 
	-moz-opacity:0.39603960396039606
 }
